@import 'inspector';

.game {
  display: flex;

  &__view {
    flex: 1;
    background-color: azure;

    canvas {
      margin: 0 auto;
      display: block;
    }
  }

  &__inspector {
    flex: 1;
    background-color: beige;
  }
}
